
<div class="jumbotron">
  <h1 align="center">Welcome to my Blogspot</h1>
  <div align="center">
  	<% if logged_in? %>
  		<%= link_to "Log Out", logout_path, class: "btn btn-lg btn-primary" %>
  	<% else %>
  		<%= link_to "Sign Up", new_user_path, class: "btn btn-lg btn-primary" %>
  		<%= link_to "Log In", new_session_path, class: "btn btn-lg btn-success" %>
  	<% end %>
  </div>
</div>

<%= link_to "All Bloggers", users_path %> |
<%=link_to "Home", root_path %>