<div align="center">
	<h1>Article #<%= @article.id %></h1>
	<p><%= @article.title %></p>
	<p><%= @article.description %></p>
	Categories:
	<% @article.categories.each do |category| %>
		<p><%= category.name %></p>
	<% end %>
	<p>Created: <%= time_ago_in_words(@article.created_at) %></p>

	<% if @article_user.id == current_user.id %>
		<%= link_to "Edit Article", edit_user_article_path(@article) %>
		<%= link_to "Delete Article", user_article_path(@article),
					method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>

	<h2>Comments</h2>

	<% @article.comments.each do |comment| %>
		<p>
			<%= comment.content %> 
			<small>Posted by: <%= link_to comment.user.name, user_path(comment.user) %> at <%= comment.created_at %></small>
		</p>
	<% end %>

</div> 