<div align="center">
	<h1>Article #<%= @article.id %></h1>
	<p><%= @article.title %></p>
	<p><%= @article.description %></p>
	Categories:
	<% @article.categories.each do |category| %>
		<p><%= category.name %></p>
	<% end %>
	<p>Created: <%= time_ago_in_words(@article.created_at) %></p>

	<% if logged_in? && @article_user.id == current_user.id %>
		<%= link_to "Edit Article", edit_user_article_path(@article) %>
		<%= link_to "Delete Article", user_article_path(@article),
					method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>

	<% if @article.comments.any? %>
		<h2>Comments</h2>
	<% else %>
		<h3>No Comments Yet.</h3>
		<% if !logged_in? %>
			Please <%= link_to "Log In", login_path %> or <%= link_to "Sign Up", new_user_path %> to comment.
		<% else %>
			Be the first to comment!
		<% end %>
	<% end %>

	<% @article.comments.each do |comment| %>
		<p>
			<%= comment.content %> |
			<small>Posted by: <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago | <%= link_to "Delete", article_comment_path(comment.article, comment), method: :delete, data: { confirm: "Are you sure" } if current_user == comment.user %> </small>
		</p>
	<% end %>

	<% if logged_in? %>
		<h3>New Comment</h3>

		<%= render 'comment_form' %>
	<% end %>
	
</div> 