<h1 align="center">Edit User</h1>

<div class="form-group" align="center">
	<%= form_for @user do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>

		<%= f.submit %>
	<% end %>
</div>
