<h2>Information for <%= @user.name %> | <%= link_to "Edit Account", edit_user_path(@user) %>
	| <%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %><h2> 


<ul>
	<li><%= @user.name %></li>
	<li><%= @user.email %></li>
</ul>

<div class="container">
	<% @user.articles.each do |article| %>
		<div class="well well-sm">
			<h3>Article <strong><%= article.id %>: </strong><%= link_to article.title, user_article_path(article.user, article) %></h3>
			<p><small>Created: <%= time_ago_in_words(article.created_at) %> ago.</small></p>
	
			<% if @user.id == current_user.id %>
				<small><%= link_to "Delete Article", [article.user, article],
				method: :delete, data: { confirm: "Are you sure?" } %></small>
			<% end %>
		</div>
	<% end %>
</div>

<h2>Create New Article </h2>
<%= form_with(model: [@user, @user.articles.build ],
local: true) do |f| %>
	<p>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :categories %>
		<%= f.text_area :categories %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>

<br>
<%= link_to "Home", root_path %> |
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "All Users", users_path %>
